
.hero__wrapper {
    background-image: url('../img/bg.png');
    /* background-color: var(--second-brand-color); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    width: 100%;
}
.hero {
    padding: 45rem 1rem 5rem;
    text-align: left;
}
@media screen and (min-width: 1440px) {
    .main-block {
        display: flex;
    }
    .hero__wrapper {
        flex-grow: 1;
    }
    .hero {
        padding-top: 60rem;
    }
}